<!DOCTYPE html>
<html>
<head>
  <title>GAP Programming Test</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <body>
    <nav class="navbar navbar-default">
      <a class="navbar-brand" href="/">GAP Programming Test</a>
    </nav>

    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</body>
</html>
